$dark-color: #65553b;
$primary-color: #fffefb;
$secondary-color: #6d6556;
$border-color: #c2b194;
$nav-color: #1e1712;
$icons-color: #1e140d;
$bg-color: #4b4538;
$bg-light: rgb(63, 63, 63);
$bg-color-light: #544d3e;
$bg-color-dark: #484237;

$color-primary: #fffefb;
$color-primary-light-1: #c2b194;
$color-primary-light-2: #6d6556;

$color-secondary-light: #65553b;
$color-secondary-dark: #1e140d;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;
