.footer {
  &__motto {
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(iphone) {
      margin-top: 10rem;
    }
  }
  &__logo {
    width: 10rem;
    animation: moveDown 3s infinite ease-in-out;
  }
  &__heading {
    text-transform: uppercase;
    font-size: 3.5rem;
    animation: moveUp 3s infinite ease-in-out;
  }

  &__container {
    display: flex;

    font-size: 2rem;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    @include respond(phone) {
      justify-content: space-between;
    }

    @include respond(iphone) {
      flex-direction: column;
    }
  }
  &__items {
    @include respond(phone) {
      margin: 0 5rem;
      &:not(:first-child) {
        margin-right: 4rem !important;
      }
      &:not(:last-child) {
        margin: 0 5rem;
        margin-left: 4rem !important;
      }
    }

    &:not(:first-child) {
      margin-right: 15rem;
    }
    &:not(:last-child) {
      margin-left: 15rem;
    }
  }
  &__item {
    margin-bottom: 0.5rem;
  }
  &__email {
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    align-self: stretch;
  }

  &__form {
    display: flex;
    flex-direction: column;

    &-group {
      padding: 1rem 0;
    }

    &-input {
      border: 1px solid white;
      padding: 1rem 2rem;
      background-color: inherit;
      color: white;

      @include respond(phone) {
        width: 100%;
      }

      @include respond(iphone) {
        width: 50%;
      }
      &::placeholder {
        color: white;
      }
    }

    &-btn {
      border: 1px solid white;
      padding: 1rem 3rem;
      background-color: inherit;
      color: $color-primary-light-1;
      text-transform: uppercase;

      @include respond(iphone) {
        width: 50%;
        align-self: center;
      }
    }
  }

  &__privacy {
    span {
      font-size: 1.6rem;
      padding: 0 2rem;
    }

    @include respond(iphone) {
      display: none;
    }
  }

  &__copyrights {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin: 4rem 5rem;
  }
}
