.footer {
  &__motto {
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
  }
  &__logo {
    width: 10rem;
    animation: moveDown 3s infinite ease-in-out;
  }
  &__heading {
    text-transform: uppercase;
    font-size: 3.5rem;
    // animation: moveInBottom 3s infinite ease;
    animation: moveUp 3s infinite ease-in-out;
  }

  &__container {
    display: flex;

    font-size: 2rem;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  &__items {
    &:not(:first-child) {
      margin-right: 15rem;
    }
    &:not(:last-child) {
      margin-left: 15rem;
    }
  }
  &__item {
    margin-bottom: 0.5rem;
  }
  &__email {
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    align-self: stretch;
  }

  &__form {
    display: flex;
    flex-direction: column;

    &-group {
      padding: 1rem 0;
    }

    &-input {
      border: 1px solid white;
      padding: 1rem 2rem;
      background-color: inherit;
      color: white;

      &::placeholder {
        color: white;
      }
    }

    &-btn {
      border: 1px solid white;
      padding: 1rem 3rem;
      background-color: inherit;
      color: $color-primary-light-1;
      text-transform: uppercase;
    }
  }

  &__privacy {
    span {
      font-size: 1.6rem;
      padding: 0 2rem;
    }
  }

  &__copyrights {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin: 4rem 5rem;
  }
}
