.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;

  &__box {
    padding: 4rem 0;

    i {
      color: $primary-color;
      font-size: 6rem;
    }
  }

  &__about {
    text-transform: none;
    font-size: 2.3rem;
    padding: 0.8rem 0;
    color: $border-color;
  }

  &__numbers {
    color: $primary-color;
    font-size: 2rem;
  }
}
