.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $nav-color;
  transition: 0.5s;
  z-index: 11;
  opacity: 0.96;
  flex-wrap: nowrap;

  @include respond(iphone) {
  }

  &__top {
    background: transparent;
  }

  &__image {
    height: 10rem;
    padding: 1rem;

    @include respond(phone) {
      height: 8rem;
    }
  }

  &__links {
    margin: 0 3rem;

    @include respond(phone) {
      margin: 0 1rem;
      // width: 80%;
    }

    @include respond(iphone) {
      text-align: center;
    }
  }

  &__link {
    margin: 0 3.5rem;

    display: inline-block;
    position: relative;
    font-size: 2.3rem;
    cursor: pointer;
    transition: all 250ms;

    @include respond(phone) {
      margin: 0 1.5rem;
    }

    @include respond(iphone) {
      font-size: 1.8rem;
    }
  }

  &__link::after {
    padding-top: 0.3rem;
    display: block;
    content: "";
    border-bottom: solid 1px $primary-color;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    color: inherit;
  }

  &__link:hover:after {
    transform: scaleX(1);
    transition: transform 250ms ease-in-out;
  }
}
