.section-operations {
  .operations {
    max-width: 110rem;
    margin: 7rem auto 3rem auto;
    background-color: $secondary-color;
    color: $primary-color;
    transition: transform 1s, opacity 1s;

    @include respond(phone) {
      max-width: 65rem;
      margin-top: 10rem;
    }

    &__tab-container {
      display: flex;
      justify-content: center;
      animation: moveInBottom 0.5s ease-out 0.2s;
      animation-fill-mode: backwards;

      @include respond(phone) {
      }

      .operations__tab {
        margin: 0 2rem 0 0.8rem;

        transform: translateY(-50%);

        span {
          margin-right: 1rem;
          font-weight: 900;
          display: inline-block;
        }
        &-active {
          transform: translateY(-66%);
        }

        &--1 {
          background-color: $border-color;
          color: $primary-color;
        }

        &--2 {
          background-color: $dark-color;
          color: $primary-color;
        }
        &--3 {
          background-color: $icons-color;
          color: $primary-color;
        }
      }
    }

    .transition {
      opacity: 1;
    }

    &__content {
      animation: moveInRight 0.5s ease-out;
      animation-fill-mode: backwards;
      display: none;
      font-size: 2.4rem;
      padding: 2.5rem 7rem 6.5rem 7rem;
      transition: transform 1s;

      &--active {
        display: grid;
        grid-template-columns: 7rem 1fr;
        column-gap: 3rem;
        row-gap: 0.5rem;
        column-gap: 5rem;

        @include respond(iphone) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 2rem 4rem 5rem 4rem;
        }
      }

      p {
        font-size: 1.7rem;
        grid-column: 2;
      }
    }

    &__header {
      font-size: 2.8rem;
      font-weight: 600;
      align-self: center;

      @include respond(iphone) {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 7rem;
      width: 7rem;
      border-radius: 50%;

      @include respond(iphone) {
        margin-top: -8rem;
        height: 15rem;
        width: 7rem;
        align-self: center;
      }

      @include respond(phone) {
        i {
          height: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
