.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  color: black;
  z-index: 9999;
  overflow: scroll;

  &__close {
    visibility: hidden;
    display: none;
    transition: all 1s;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    animation: scaleClose 1s;
  }

  &__open {
    display: block;
    visibility: visible;
    transition: all 1s;
  }

  .scale__open {
    animation: scaleOpen 1s;
  }
  .scale__close {
    display: none !important;
    transform: translate(-50%, -50%) scale(1);
    animation: scaleClose 1s;
  }

  &__close-btn {
    color: $icons-color;
    position: absolute;
    top: 3.5rem;
    right: 3.5rem;
    font-size: 3.5rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    line-height: 1;
    animation: moveInBottom 0.5s ease-out 0.5s;
    animation-fill-mode: backwards;

    &:active {
    }

    &:hover {
      transform: scale(1.5);
      color: $color-primary-light-1;
    }
  }

  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  &__content {
    @include absCenter;
    height: 50rem;

    @include respond(XL-desktop) {
      height: 60rem;
    }

    @include respond(phone) {
      height: 60rem;
    }

    @include respond(iphone) {
      height: 100%;
      width: 93%;
    }

    color: $color-grey-dark;
    width: 85%;
    background-color: #f4f4f4;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;

    overflow: hidden;
    opacity: 0;

    transition: all 0.5s 0.2s;

    &-heading {
      margin-top: 3rem;
      margin: 3rem 10rem;
      font-weight: 700;
      color: $color-primary-light-1;

      @include respond(iphone) {
        margin: 1rem 10rem;
      }
    }
  }

  &__box {
    height: 35rem;
    display: flex;
    align-items: center;
    padding: 2rem 3rem;

    @include respond(phone) {
      display: block;
    }
  }

  .content {
    &__left {
      animation: moveInBottom 0.5s ease-out 0.2s;
      animation-fill-mode: backwards;
      font-size: 2rem;
      flex: 0 0 50%;
      padding: 0 2rem;
      &-p1 {
      }
      &-p2 {
      }
    }

    &__headline {
      font-size: 3.6rem;
      text-align: center;

      @include respond(phone) {
        font-size: 2.5rem;
      }
    }

    //////////////////////////////////
  }
  &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  // popup content

  .composition {
    flex: 0 0 50%;
    z-index: 1000;
    position: relative;
    align-items: center;
    height: 100%;
    animation: moveInBottom 0.5s ease-out 0.2s;
    animation-fill-mode: backwards;
    transition: all 1s;

    @include respond(phone) {
      margin-top: -7rem;
    }

    // to wyrzucamy ze wszystkich
    &__photo-selection {
      position: absolute !important;
      animation: moveInBottom 0.5s ease-out 0.5s;
      animation-fill-mode: backwards;
      transition: all 1s;
      @include respond(iphone) {
        position: unset !important;
        margin: 1rem auto;
        height: 5rem !important;
      }
    }

    // dodajemy do tylko clicka
    &__photo-height {
      height: 90% !important;
      width: 80% !important;
      animation: moveInBottom 0.5s ease-out 0.5s;
      animation-fill-mode: backwards;
      transition: all 1s;

      @include respond(phone) {
        height: 80% !important;
        width: 60% !important;
        position: absolute;
        left: 11rem !important;
        top: 2rem !important;
      }

      @include respond(iphone) {
        transform: scaleY(1.8);
        left: 4rem !important;
        top: 13rem !important;
        width: 80% !important;
      }
    }

    // dodajemy tylko do pozostalych
    &__display {
      display: none !important;
    }

    &__btn {
      position: absolute;
      top: 50%;
      z-index: 10;
      border: none;
      background: $color-primary-light-1;
      font-family: inherit;
      color: white;
      border-radius: 50%;
      box-shadow: $shadow;
      height: 6rem;
      width: 6rem;
      font-size: 3.25rem;
      font-weight: 200;
      cursor: pointer;

      @include respond(phone) {
        top: 65%;
      }

      @include respond(iphone) {
        top: 60%;
      }
    }

    &__btn-left {
      left: 6%;
      transform: translate(-50%, -50%);
      animation: moveInRightTranslate 0.5s ease-out 0.4s;
      animation-fill-mode: backwards;
      z-index: 1000;
      transition: all 1s;
    }

    &__btn-right {
      z-index: 1000;
      right: 6%;
      transform: translate(50%, -50%);
      animation: moveInLeftTranslate 0.5s ease-out 0.4s;
      animation-fill-mode: backwards;
    }

    &__btn-return {
      border-radius: 2rem;
      width: 20rem;
      height: 4.2rem;
      font-size: 2.6rem;
      top: 88%;
      left: 48rem;
      color: $icons-color;
      font-weight: 400;
      border: 1px solid $icons-color;
      background-color: #f4f4f4;
      animation: moveInBottom 0.5s ease-out 0.2s;
      animation-fill-mode: backwards;
      transition: all 0.5s;

      @include respond(phone) {
        bottom: 2rem;
        left: 33%;
        margin-top: 2rem;
      }

      &:hover {
        background-color: $color-primary-light-1;
        color: $color-primary;
      }
    }

    &__image {
      width: 100%;
      height: 100% !important;
      max-width: 100%;
      display: block;
      border-radius: 5px;
      transition: all 1s;

      @include respond(phone) {
      }
    }
    &__photo {
      animation: moveInBottom 0.5s ease-out 0.2s;
      animation-fill-mode: backwards;
      width: 55%;
      height: 70%;
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.8);
      border-radius: 1px;
      z-index: 10;
      transition: all 0.3s;
      outline-offset: 1.3rem;
      display: block;

      @include respond(tab-port) {
        height: 60%;
        width: 50%;
      }

      @include respond(iphone) {
        height: 45% !important;
        width: 60%;
      }

      &:active {
        animation: scale 0.5s ease-out 0.2s;
        animation-fill-mode: backwards;
      }

      &--p1 {
        right: 23rem;
        top: 0rem;
        transition: all 1s;
      }

      &--p2 {
        right: 1rem;
        top: 4rem;
        object-fit: cover;
        transition: all 1s;
      }

      &--p3 {
        z-index: 11;
        height: -webkit-fill-available;
        height: fit-content;
        right: 15rem;
        top: 10rem;
        object-fit: cover;
      }

      &:hover {
        transition-delay: 0.3s;
        outline: 1rem solid $color-primary-light-1;
        transform: scale(1.05) translateY(-0.5rem);
        box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
        z-index: 20;
      }
    }

    &:hover &__photo:not(:hover) {
      transform: scale(0.95);
    }
  }
}
