@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveUp {
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  90% {
    opacity: 1;
  }
}

@keyframes moveDown {
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  90% {
    opacity: 1;
  }
}

@keyframes scaleOpen {
  0% {
    opacity: 0;
    transform: scale(1.25) translate(-10%, -50%);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;

    transform: scale(1) translate(-50%, -50%);
  }
}
@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;

    transform: scale(1);
  }
}

@keyframes scaleClose {
  0% {
    opacity: 0;
    transform: scale(1) translate(-10%, -50%);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;

    transform: scale(0) translate(-50%, -50%);
  }
}

@keyframes moveInRightTranslate {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
    transform: translate(-50%, -50%);
  }
}
@keyframes moveInLeftTranslate {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
    transform: translate(50%, -50%);
  }
}
@keyframes widthScale {
  0% {
    // width: 0%;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
